[submodule "scenario_generation"]
	path = scenario_generation
	url = https://github.com/idslab-autosec/AutoSVT-Algorithms.git
[submodule "bridge"]
	path = bridge
	url = https://github.com/idslab-autosec/AutoSVT-Carla-Apollo-Bridge.git
